@{ 
    ViewBag.Title = "Home Page";
}
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
        <tr>
            <a href="/Home/Detail/@e.Id">   </a>
                

                    <td>@e.Id</td>
                    <td>@e.Name</td>
                    <td>@e.Email</td>
                    <td>@e.Address</td>
                    <td> <a href="/Home/Detail/@e.Id">  Details </a></td>
                    <td>
                        <a href="/Home/Delete/@e.Id">Delete</a>
                    </td>
               
        </tr>

        }
    </tbody>
</table>
